body {
    font-family: "Times New Roman", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #0d1f71;
    padding: 10px 0;
    text-align: center;

    border-bottom: 2px solid #000000;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #df0c0c;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}