body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;

    background-color: #7791ac;
    color: #040404;
    padding: 10px 0;
    text-align: center;

    border-bottom: 2px solid #000000;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

#logo {
    width: 60px;
    height: auto;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #6c2121;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
}